@import "former-kit-skin-pagarme/dist/styles/spacing.css";

.title {
  color: #858c8f;
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

.subtitle {
  color: #858c8f;
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
}

.dropdownPartner {
  padding-top: var(--spacing-large);
}
